-- MySQL dump 10.13  Distrib 8.0.46, for Win64 (x86_64)
--
-- Host: localhost    Database: school_management_db
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `academic_years`
--

DROP TABLE IF EXISTS `academic_years`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `academic_years` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `school_id` bigint NOT NULL,
  `branch_id` bigint NOT NULL,
  `academic_year_name` varchar(50) NOT NULL,
  `semester` tinyint NOT NULL,
  `start_date` date NOT NULL,
  `end_date` date NOT NULL,
  `is_current` tinyint(1) DEFAULT '0',
  `status` enum('active','inactive') DEFAULT 'active',
  `created_by` bigint DEFAULT NULL,
  `updated_by` bigint DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `academic_years`
--

LOCK TABLES `academic_years` WRITE;
/*!40000 ALTER TABLE `academic_years` DISABLE KEYS */;
INSERT INTO `academic_years` VALUES (1,0,0,'2025-2026',0,'2025-04-01','2026-03-31',0,'active',NULL,NULL,'2026-06-22 06:10:20','2026-06-22 06:10:20'),(3,1,3,'2025-2026',5,'2026-08-09','2026-12-09',0,'inactive',2,2,'2026-08-12 11:31:41','2026-08-12 11:39:50');
/*!40000 ALTER TABLE `academic_years` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `admission_inquiries`
--

DROP TABLE IF EXISTS `admission_inquiries`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `admission_inquiries` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `school_id` bigint NOT NULL,
  `branch_id` bigint NOT NULL,
  `preferred_start_date` date DEFAULT NULL,
  `academic_year_id` bigint NOT NULL,
  `inquiry_date` date DEFAULT NULL,
  `program_class_id` bigint DEFAULT NULL,
  `school_board_id` bigint DEFAULT NULL,
  `school_medium_id` bigint DEFAULT NULL,
  `student_name` varchar(100) NOT NULL,
  `father_name` varchar(100) DEFAULT NULL,
  `mother_name` varchar(100) DEFAULT NULL,
  `mobile_no` varchar(15) NOT NULL,
  `alternate_mobile` varchar(15) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `gender` enum('Male','Female','Other') DEFAULT NULL,
  `blood_group` varchar(10) DEFAULT NULL,
  `dob` date DEFAULT NULL,
  `class_name` varchar(50) DEFAULT NULL,
  `address` text,
  `city` varchar(100) DEFAULT NULL,
  `state` varchar(100) DEFAULT NULL,
  `pincode` varchar(10) DEFAULT NULL,
  `emergency_contact_number` varchar(15) DEFAULT NULL,
  `documents` json DEFAULT NULL,
  `parent_details` json DEFAULT NULL,
  `source` varchar(50) DEFAULT NULL,
  `inquiry_status` enum('New','In Process','Closed','Converted') DEFAULT 'New',
  `assigned_staff_id` bigint DEFAULT NULL,
  `previous_education` text,
  `status` enum('Pending','Follow Up','Confirmed','Cancelled') DEFAULT 'Pending',
  `remarks` text,
  `created_by` bigint DEFAULT NULL,
  `updated_by` bigint DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `fk_ai_school` (`school_id`),
  KEY `fk_ai_branch` (`branch_id`),
  KEY `fk_ai_academic_year` (`academic_year_id`),
  KEY `fk_ai_created_by` (`created_by`),
  KEY `fk_ai_updated_by` (`updated_by`),
  KEY `fk_ai_program_class` (`program_class_id`),
  CONSTRAINT `fk_ai_academic_year` FOREIGN KEY (`academic_year_id`) REFERENCES `academic_years` (`id`),
  CONSTRAINT `fk_ai_branch` FOREIGN KEY (`branch_id`) REFERENCES `school_branches` (`id`),
  CONSTRAINT `fk_ai_created_by` FOREIGN KEY (`created_by`) REFERENCES `staff` (`id`),
  CONSTRAINT `fk_ai_program_class` FOREIGN KEY (`program_class_id`) REFERENCES `classes` (`id`),
  CONSTRAINT `fk_ai_school` FOREIGN KEY (`school_id`) REFERENCES `school` (`id`),
  CONSTRAINT `fk_ai_updated_by` FOREIGN KEY (`updated_by`) REFERENCES `staff` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admission_inquiries`
--

LOCK TABLES `admission_inquiries` WRITE;
/*!40000 ALTER TABLE `admission_inquiries` DISABLE KEYS */;
/*!40000 ALTER TABLE `admission_inquiries` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `attendance`
--

DROP TABLE IF EXISTS `attendance`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `attendance` (
  `id` int NOT NULL AUTO_INCREMENT,
  `school_id` int NOT NULL,
  `student_id` int NOT NULL,
  `attendance_date` date NOT NULL,
  `status` enum('PRESENT','ABSENT','LEAVE') NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `attendance`
--

LOCK TABLES `attendance` WRITE;
/*!40000 ALTER TABLE `attendance` DISABLE KEYS */;
INSERT INTO `attendance` VALUES (1,1,1,'2026-06-10','PRESENT','2026-06-08 12:50:01'),(2,1,2,'2026-06-09','PRESENT','2026-06-09 12:19:19'),(3,1,2,'2006-08-14','PRESENT','2026-06-10 08:28:10'),(4,1,4,'0200-08-14','ABSENT','2026-06-10 08:29:51'),(5,1,4,'2623-05-14','PRESENT','2026-06-10 08:38:55'),(6,1,5,'2522-04-12','ABSENT','2026-06-10 08:46:41'),(7,1,0,'1111-11-11','ABSENT','2026-06-12 19:14:09');
/*!40000 ALTER TABLE `attendance` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `attendance_v2`
--

DROP TABLE IF EXISTS `attendance_v2`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `attendance_v2` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `school_id` int NOT NULL,
  `school_class_id` bigint NOT NULL,
  `section_id` bigint NOT NULL,
  `student_id` int NOT NULL,
  `attendance_date` date NOT NULL,
  `status` enum('Present','Absent','Leave') NOT NULL,
  `remarks` varchar(255) DEFAULT NULL,
  `created_by` bigint DEFAULT NULL,
  `updated_by` bigint DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `student_id` (`student_id`),
  KEY `school_class_id` (`school_class_id`),
  KEY `section_id` (`section_id`),
  CONSTRAINT `attendance_v2_ibfk_1` FOREIGN KEY (`student_id`) REFERENCES `student` (`id`),
  CONSTRAINT `attendance_v2_ibfk_2` FOREIGN KEY (`school_class_id`) REFERENCES `school_classes` (`id`),
  CONSTRAINT `attendance_v2_ibfk_3` FOREIGN KEY (`section_id`) REFERENCES `sections` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `attendance_v2`
--

LOCK TABLES `attendance_v2` WRITE;
/*!40000 ALTER TABLE `attendance_v2` DISABLE KEYS */;
INSERT INTO `attendance_v2` VALUES (1,1,1,1,5,'2026-06-12','Present','On Time',2,NULL,'2026-06-12 07:21:22','2026-06-12 07:21:22');
/*!40000 ALTER TABLE `attendance_v2` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `class_subjects`
--

DROP TABLE IF EXISTS `class_subjects`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `class_subjects` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `school_class_id` bigint NOT NULL,
  `subject_id` bigint NOT NULL,
  `status` enum('active','inactive') DEFAULT 'active',
  `created_by` bigint DEFAULT NULL,
  `updated_by` bigint DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `school_class_id` (`school_class_id`),
  KEY `subject_id` (`subject_id`),
  CONSTRAINT `class_subjects_ibfk_1` FOREIGN KEY (`school_class_id`) REFERENCES `school_classes` (`id`),
  CONSTRAINT `class_subjects_ibfk_2` FOREIGN KEY (`subject_id`) REFERENCES `subjects` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `class_subjects`
--

LOCK TABLES `class_subjects` WRITE;
/*!40000 ALTER TABLE `class_subjects` DISABLE KEYS */;
INSERT INTO `class_subjects` VALUES (1,1,1,'active',2,NULL,'2026-06-12 07:05:22','2026-06-12 07:05:22'),(2,1,3,'active',2,NULL,'2026-06-12 07:05:34','2026-06-12 07:05:34');
/*!40000 ALTER TABLE `class_subjects` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `classes`
--

DROP TABLE IF EXISTS `classes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `classes` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `class_name` varchar(100) NOT NULL,
  `status` enum('active','inactive') DEFAULT 'active',
  `created_by` bigint DEFAULT NULL,
  `updated_by` bigint DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `classes`
--

LOCK TABLES `classes` WRITE;
/*!40000 ALTER TABLE `classes` DISABLE KEYS */;
/*!40000 ALTER TABLE `classes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `email_verification_tokens`
--

DROP TABLE IF EXISTS `email_verification_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `email_verification_tokens` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `email` varchar(255) NOT NULL,
  `otp_hash` varchar(255) NOT NULL,
  `expires_at` datetime NOT NULL,
  `attempts` int DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_email` (`email`),
  KEY `idx_user_id` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `email_verification_tokens`
--

LOCK TABLES `email_verification_tokens` WRITE;
/*!40000 ALTER TABLE `email_verification_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `email_verification_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `events`
--

DROP TABLE IF EXISTS `events`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `events` (
  `id` int NOT NULL AUTO_INCREMENT,
  `school_id` int NOT NULL,
  `branch_id` int NOT NULL,
  `event_name` varchar(150) NOT NULL,
  `event_type` varchar(100) NOT NULL,
  `event_date` date NOT NULL,
  `start_time` time DEFAULT NULL,
  `end_time` time DEFAULT NULL,
  `venue` varchar(200) DEFAULT NULL,
  `organizer` varchar(150) DEFAULT NULL,
  `description` text,
  `status` enum('UPCOMING','ONGOING','COMPLETED','CANCELLED') DEFAULT 'UPCOMING',
  `created_by` int DEFAULT NULL,
  `updated_by` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `school_id` (`school_id`),
  KEY `branch_id` (`branch_id`),
  KEY `event_date` (`event_date`),
  KEY `status` (`status`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `events`
--

LOCK TABLES `events` WRITE;
/*!40000 ALTER TABLE `events` DISABLE KEYS */;
INSERT INTO `events` VALUES (1,1,2,'15 August','Indian','2026-07-15','10:20:00','03:25:00','College','School','NA','UPCOMING',2,NULL,'2026-07-29 05:43:04','2026-07-29 05:43:04');
/*!40000 ALTER TABLE `events` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `exams`
--

DROP TABLE IF EXISTS `exams`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `exams` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `school_id` int NOT NULL,
  `exam_name` varchar(100) NOT NULL,
  `exam_type` varchar(50) DEFAULT NULL,
  `start_date` date NOT NULL,
  `end_date` date NOT NULL,
  `status` enum('active','inactive') DEFAULT 'active',
  `created_by` bigint DEFAULT NULL,
  `updated_by` bigint DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `exams`
--

LOCK TABLES `exams` WRITE;
/*!40000 ALTER TABLE `exams` DISABLE KEYS */;
INSERT INTO `exams` VALUES (1,1,'Unit Test 1','Unit Test','2026-07-01','2026-07-10','active',2,NULL,'2026-06-12 08:44:55','2026-06-12 08:44:55');
/*!40000 ALTER TABLE `exams` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fee_discounts`
--

DROP TABLE IF EXISTS `fee_discounts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fee_discounts` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `fee_structure_id` bigint NOT NULL,
  `discount_name` varchar(100) NOT NULL,
  `discount_type` enum('PERCENTAGE','FIXED') NOT NULL,
  `discount_value` decimal(10,2) NOT NULL,
  `start_date` date DEFAULT NULL,
  `end_date` date DEFAULT NULL,
  `status` enum('ACTIVE','INACTIVE') DEFAULT 'ACTIVE',
  `created_by` bigint DEFAULT NULL,
  `updated_by` bigint DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `fk_fee_discount_structure` (`fee_structure_id`),
  CONSTRAINT `fk_fee_discount_structure` FOREIGN KEY (`fee_structure_id`) REFERENCES `fee_structures` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fee_discounts`
--

LOCK TABLES `fee_discounts` WRITE;
/*!40000 ALTER TABLE `fee_discounts` DISABLE KEYS */;
INSERT INTO `fee_discounts` VALUES (1,4,'topper','PERCENTAGE',50000.00,'2026-03-14','2026-06-14','ACTIVE',2,2,'2026-07-28 19:34:28','2026-07-28 19:34:28');
/*!40000 ALTER TABLE `fee_discounts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fee_installments`
--

DROP TABLE IF EXISTS `fee_installments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fee_installments` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `fee_structure_id` bigint NOT NULL,
  `installment_no` int NOT NULL,
  `installment_name` varchar(100) NOT NULL,
  `amount` decimal(10,2) NOT NULL,
  `due_date` date NOT NULL,
  `late_fee` decimal(10,2) DEFAULT '0.00',
  `status` enum('ACTIVE','INACTIVE') DEFAULT 'ACTIVE',
  `created_by` bigint DEFAULT NULL,
  `updated_by` bigint DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `fk_fee_installment_structure` (`fee_structure_id`),
  CONSTRAINT `fk_fee_installment_structure` FOREIGN KEY (`fee_structure_id`) REFERENCES `fee_structures` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fee_installments`
--

LOCK TABLES `fee_installments` WRITE;
/*!40000 ALTER TABLE `fee_installments` DISABLE KEYS */;
INSERT INTO `fee_installments` VALUES (1,4,1,'first',10000.00,'2026-08-14',200.00,'ACTIVE',2,NULL,'2026-07-28 19:11:49','2026-07-28 19:11:49');
/*!40000 ALTER TABLE `fee_installments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fee_structure_components`
--

DROP TABLE IF EXISTS `fee_structure_components`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fee_structure_components` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `fee_structure_id` bigint NOT NULL,
  `component_name` varchar(150) NOT NULL,
  `amount` decimal(10,2) NOT NULL,
  `tax_percentage` decimal(5,2) DEFAULT '0.00',
  `tax_amount` decimal(10,2) DEFAULT '0.00',
  `final_amount` decimal(10,2) NOT NULL,
  `status` enum('active','inactive') DEFAULT 'active',
  `created_by` bigint DEFAULT NULL,
  `updated_by` bigint DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `fk_component_fee_structure` (`fee_structure_id`),
  CONSTRAINT `fk_component_fee_structure` FOREIGN KEY (`fee_structure_id`) REFERENCES `fee_structures` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fee_structure_components`
--

LOCK TABLES `fee_structure_components` WRITE;
/*!40000 ALTER TABLE `fee_structure_components` DISABLE KEYS */;
INSERT INTO `fee_structure_components` VALUES (1,4,'Schhol',10000.00,1.00,100.00,10100.00,'active',2,NULL,'2026-07-28 18:43:43','2026-07-28 18:43:43');
/*!40000 ALTER TABLE `fee_structure_components` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fee_structures`
--

DROP TABLE IF EXISTS `fee_structures`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fee_structures` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `school_id` bigint DEFAULT NULL,
  `batch_id` bigint DEFAULT NULL,
  `academic_year_id` bigint DEFAULT NULL,
  `total_amount` decimal(10,2) DEFAULT NULL,
  `due_date` date DEFAULT NULL,
  `late_fee_rules` json DEFAULT NULL,
  `payment_type` enum('FULL','SEMESTER','INSTALLMENT') DEFAULT NULL,
  `number_of_installments` int DEFAULT NULL,
  `school_class_id` bigint DEFAULT NULL,
  `fee_type` varchar(100) DEFAULT NULL,
  `amount` decimal(10,2) DEFAULT NULL,
  `status` enum('active','inactive') DEFAULT 'active',
  `active_key` varchar(100) DEFAULT NULL,
  `created_by` bigint DEFAULT NULL,
  `updated_by` bigint DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `school_class_id` (`school_class_id`),
  CONSTRAINT `fee_structures_ibfk_1` FOREIGN KEY (`school_class_id`) REFERENCES `school_classes` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fee_structures`
--

LOCK TABLES `fee_structures` WRITE;
/*!40000 ALTER TABLE `fee_structures` DISABLE KEYS */;
INSERT INTO `fee_structures` VALUES (1,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,1,'Admission Fee',6000.00,'active',NULL,2,2,'2026-06-12 07:26:17','2026-06-12 07:28:12'),(3,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,1,'Admission',5000.00,'active',NULL,2,NULL,'2026-06-15 12:39:45','2026-06-15 12:39:45'),(4,NULL,1,1,500000.00,'2026-05-14',NULL,'FULL',500000,NULL,NULL,NULL,'active','undefined_1',2,NULL,'2026-07-27 18:47:35','2026-07-27 18:47:35');
/*!40000 ALTER TABLE `fee_structures` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fee_structures_backup`
--

DROP TABLE IF EXISTS `fee_structures_backup`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fee_structures_backup` (
  `id` bigint NOT NULL DEFAULT '0',
  `school_class_id` bigint NOT NULL,
  `fee_type` varchar(100) NOT NULL,
  `amount` decimal(10,2) NOT NULL,
  `status` enum('active','inactive') DEFAULT 'active',
  `created_by` bigint DEFAULT NULL,
  `updated_by` bigint DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fee_structures_backup`
--

LOCK TABLES `fee_structures_backup` WRITE;
/*!40000 ALTER TABLE `fee_structures_backup` DISABLE KEYS */;
INSERT INTO `fee_structures_backup` VALUES (1,1,'Admission Fee',6000.00,'active',2,2,'2026-06-12 07:26:17','2026-06-12 07:28:12'),(3,1,'Admission',5000.00,'active',2,NULL,'2026-06-15 12:39:45','2026-06-15 12:39:45');
/*!40000 ALTER TABLE `fee_structures_backup` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fees`
--

DROP TABLE IF EXISTS `fees`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fees` (
  `id` int NOT NULL AUTO_INCREMENT,
  `school_id` int NOT NULL,
  `student_id` int NOT NULL,
  `amount` decimal(10,2) NOT NULL,
  `payment_date` date DEFAULT NULL,
  `status` enum('PAID','PENDING') DEFAULT 'PENDING',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fees`
--

LOCK TABLES `fees` WRITE;
/*!40000 ALTER TABLE `fees` DISABLE KEYS */;
INSERT INTO `fees` VALUES (1,1,1,25000.00,'2026-06-08','PENDING','2026-06-08 17:59:17'),(2,1,1,250000.00,'2026-06-09','PENDING','2026-06-09 12:29:44'),(3,1,23,54222.00,'2026-06-10','PENDING','2026-06-10 07:39:37'),(4,1,45,554222.00,'2026-06-10','PAID','2026-06-10 08:46:59');
/*!40000 ALTER TABLE `fees` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_tokens`
--

DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `password_reset_tokens` (
  `id` int NOT NULL AUTO_INCREMENT,
  `email` varchar(255) DEFAULT NULL,
  `token` varchar(255) DEFAULT NULL,
  `expires_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
INSERT INTO `password_reset_tokens` VALUES (2,'superadmin@school.com','9c41864327d85c04cb2e89f5a7339877ae5b40f8690986bbadce3bc0deecb7e1','2026-06-11 12:14:56'),(3,'superadmin@school.com','3d28f43afdc46fadeacc483bd15150a77989abbb9c8ae95955fdd957a43f5db0','2026-06-11 12:14:57'),(4,'superadmin@school.com','300adcce1e6d244a9efc2e47a1a8f632fdb71ab2051ecea5b41dc2a79e5442d7','2026-08-12 19:05:25'),(5,'superadmin@school.com','88868692faa8a5e9bdc2bcb393f0a76f63f2421b4f4a68bb44fdbfa1a8e1b018','2026-08-12 19:05:45');
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `school`
--

DROP TABLE IF EXISTS `school`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `school` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `school_name` varchar(200) NOT NULL,
  `school_code` varchar(50) NOT NULL,
  `email` varchar(150) DEFAULT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `address` text,
  `admin_name` varchar(100) DEFAULT NULL,
  `admin_email` varchar(150) DEFAULT NULL,
  `admin_password` varchar(255) DEFAULT NULL,
  `status` enum('ACTIVE','INACTIVE') DEFAULT 'ACTIVE',
  `created_by` bigint DEFAULT NULL,
  `updated_by` bigint DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `role` enum('SCHOOL_ADMIN') DEFAULT 'SCHOOL_ADMIN',
  PRIMARY KEY (`id`),
  UNIQUE KEY `school_code` (`school_code`),
  UNIQUE KEY `uq_school_admin_email` (`admin_email`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `school`
--

LOCK TABLES `school` WRITE;
/*!40000 ALTER TABLE `school` DISABLE KEYS */;
/*!40000 ALTER TABLE `school` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `school_branches`
--

DROP TABLE IF EXISTS `school_branches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `school_branches` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `school_id` bigint NOT NULL,
  `branch_name` varchar(255) NOT NULL,
  `branch_code` varchar(50) DEFAULT NULL,
  `address` text,
  `contact_person` varchar(255) DEFAULT NULL,
  `contact_number` varchar(20) DEFAULT NULL,
  `branch_email` varchar(255) DEFAULT NULL,
  `principal_name` varchar(255) DEFAULT NULL,
  `is_main_branch` tinyint(1) DEFAULT '0',
  `status` enum('active','inactive') DEFAULT 'active',
  `created_by` bigint DEFAULT NULL,
  `updated_by` bigint DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `school_id` (`school_id`),
  CONSTRAINT `school_branches_ibfk_1` FOREIGN KEY (`school_id`) REFERENCES `school` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `school_branches`
--

LOCK TABLES `school_branches` WRITE;
/*!40000 ALTER TABLE `school_branches` DISABLE KEYS */;
/*!40000 ALTER TABLE `school_branches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `school_classes`
--

DROP TABLE IF EXISTS `school_classes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `school_classes` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `school_id` bigint NOT NULL,
  `class_id` bigint NOT NULL,
  `branch_id` bigint NOT NULL,
  `location` varchar(255) DEFAULT NULL,
  `student_capacity` int DEFAULT NULL,
  `status` enum('active','inactive') DEFAULT 'active',
  `created_by` bigint DEFAULT NULL,
  `updated_by` bigint DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `school_id` (`school_id`),
  KEY `class_id` (`class_id`),
  KEY `branch_id` (`branch_id`),
  CONSTRAINT `school_classes_ibfk_1` FOREIGN KEY (`school_id`) REFERENCES `school` (`id`),
  CONSTRAINT `school_classes_ibfk_2` FOREIGN KEY (`class_id`) REFERENCES `classes` (`id`),
  CONSTRAINT `school_classes_ibfk_3` FOREIGN KEY (`branch_id`) REFERENCES `school_branches` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `school_classes`
--

LOCK TABLES `school_classes` WRITE;
/*!40000 ALTER TABLE `school_classes` DISABLE KEYS */;
INSERT INTO `school_classes` VALUES (1,1,1,1,'Ground Floor',60,'active',2,NULL,'2026-06-12 06:37:10','2026-06-12 06:37:10'),(2,1,1,1,'Ahmadabad ',1111,'active',2,NULL,'2026-06-15 13:50:56','2026-06-15 13:50:56'),(3,5,9,3,'Vadodara',500,'active',2,NULL,'2026-06-16 19:06:50','2026-06-16 19:06:50');
/*!40000 ALTER TABLE `school_classes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sections`
--

DROP TABLE IF EXISTS `sections`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sections` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `school_class_id` bigint NOT NULL,
  `section_name` varchar(20) NOT NULL,
  `capacity` int DEFAULT '50',
  `status` enum('active','inactive') DEFAULT 'active',
  `created_by` bigint DEFAULT NULL,
  `updated_by` bigint DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `school_class_id` (`school_class_id`),
  CONSTRAINT `sections_ibfk_1` FOREIGN KEY (`school_class_id`) REFERENCES `school_classes` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sections`
--

LOCK TABLES `sections` WRITE;
/*!40000 ALTER TABLE `sections` DISABLE KEYS */;
INSERT INTO `sections` VALUES (1,1,'A',60,'active',2,NULL,'2026-06-12 06:42:10','2026-06-12 06:42:10');
/*!40000 ALTER TABLE `sections` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `staff`
--

DROP TABLE IF EXISTS `staff`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `staff` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `school_id` bigint NOT NULL,
  `full_name` varchar(100) DEFAULT NULL,
  `email` varchar(150) DEFAULT NULL,
  `designation` varchar(100) DEFAULT NULL,
  `password` varchar(255) DEFAULT NULL,
  `status` enum('ACTIVE','INACTIVE') DEFAULT 'ACTIVE',
  `created_by` bigint DEFAULT NULL,
  `updated_by` bigint DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `role` enum('STAFF') DEFAULT 'STAFF',
  `phone` varchar(15) DEFAULT NULL,
  `branch_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_staff_email` (`email`),
  KEY `school_id` (`school_id`),
  KEY `fk_staff_branch` (`branch_id`),
  CONSTRAINT `fk_staff_branch` FOREIGN KEY (`branch_id`) REFERENCES `school_branches` (`id`),
  CONSTRAINT `staff_ibfk_1` FOREIGN KEY (`school_id`) REFERENCES `school` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `staff`
--

LOCK TABLES `staff` WRITE;
/*!40000 ALTER TABLE `staff` DISABLE KEYS */;
/*!40000 ALTER TABLE `staff` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `staff_department`
--

DROP TABLE IF EXISTS `staff_department`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `staff_department` (
  `id` int NOT NULL AUTO_INCREMENT,
  `school_id` bigint NOT NULL,
  `name` varchar(100) NOT NULL,
  `description` text,
  `logo` varchar(255) DEFAULT NULL,
  `status` enum('ACTIVE','INACTIVE') DEFAULT 'ACTIVE',
  `created_by` int DEFAULT NULL,
  `updated_by` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `staff_department`
--

LOCK TABLES `staff_department` WRITE;
/*!40000 ALTER TABLE `staff_department` DISABLE KEYS */;
INSERT INTO `staff_department` VALUES (2,0,'Engineering','Engienf','www..w.e.e','ACTIVE',NULL,NULL,'2026-06-11 11:46:22','2026-06-11 11:46:22');
/*!40000 ALTER TABLE `staff_department` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `staff_type`
--

DROP TABLE IF EXISTS `staff_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `staff_type` (
  `id` int NOT NULL AUTO_INCREMENT,
  `school_id` bigint NOT NULL,
  `name` varchar(100) NOT NULL,
  `description` text,
  `status` enum('ACTIVE','INACTIVE') DEFAULT 'ACTIVE',
  `created_by` int DEFAULT NULL,
  `updated_by` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `fk_staff_type_school` (`school_id`),
  CONSTRAINT `fk_staff_type_school` FOREIGN KEY (`school_id`) REFERENCES `school` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `staff_type`
--

LOCK TABLES `staff_type` WRITE;
/*!40000 ALTER TABLE `staff_type` DISABLE KEYS */;
INSERT INTO `staff_type` VALUES (2,1,'Teacher','Teaching Staff','ACTIVE',1,NULL,'2026-06-11 06:03:17','2026-07-08 05:56:36');
/*!40000 ALTER TABLE `staff_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student`
--

DROP TABLE IF EXISTS `student`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `student` (
  `id` int NOT NULL AUTO_INCREMENT,
  `school_id` int NOT NULL,
  `full_name` varchar(100) NOT NULL,
  `roll_number` varchar(20) DEFAULT NULL,
  `password` varchar(255) NOT NULL,
  `class_name` varchar(50) DEFAULT NULL,
  `section` varchar(20) DEFAULT NULL,
  `gender` enum('MALE','FEMALE','OTHER') DEFAULT NULL,
  `dob` date DEFAULT NULL,
  `father_name` varchar(100) DEFAULT NULL,
  `mother_name` varchar(100) DEFAULT NULL,
  `phone` varchar(15) DEFAULT NULL,
  `address` text,
  `status` enum('ACTIVE','INACTIVE') DEFAULT 'ACTIVE',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `school_class_id` bigint DEFAULT NULL,
  `section_id` bigint DEFAULT NULL,
  `branch_id` int DEFAULT NULL,
  `batch_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `roll_number` (`roll_number`),
  KEY `fk_student_school_class` (`school_class_id`),
  KEY `fk_student_section` (`section_id`),
  CONSTRAINT `fk_student_school_class` FOREIGN KEY (`school_class_id`) REFERENCES `school_classes` (`id`),
  CONSTRAINT `fk_student_section` FOREIGN KEY (`section_id`) REFERENCES `sections` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student`
--

LOCK TABLES `student` WRITE;
/*!40000 ALTER TABLE `student` DISABLE KEYS */;
/*!40000 ALTER TABLE `student` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student_fee_concessions`
--

DROP TABLE IF EXISTS `student_fee_concessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `student_fee_concessions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `student_id` bigint NOT NULL,
  `fee_structure_id` bigint NOT NULL,
  `concession_name` varchar(100) NOT NULL,
  `concession_mode` enum('PERCENTAGE','FIXED') NOT NULL,
  `concession_value` decimal(10,2) NOT NULL,
  `remarks` text,
  `status` enum('ACTIVE','INACTIVE') DEFAULT 'ACTIVE',
  `created_by` bigint DEFAULT NULL,
  `updated_by` bigint DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student_fee_concessions`
--

LOCK TABLES `student_fee_concessions` WRITE;
/*!40000 ALTER TABLE `student_fee_concessions` DISABLE KEYS */;
INSERT INTO `student_fee_concessions` VALUES (1,8,4,'Topper','FIXED',5000.00,'NA','ACTIVE',2,2,'2026-07-29 05:24:14','2026-07-29 05:24:14');
/*!40000 ALTER TABLE `student_fee_concessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student_fee_payments`
--

DROP TABLE IF EXISTS `student_fee_payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `student_fee_payments` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `student_id` int NOT NULL,
  `fee_structure_id` bigint NOT NULL,
  `amount_paid` decimal(10,2) NOT NULL,
  `payment_date` date NOT NULL,
  `payment_mode` enum('Cash','UPI','Card','NetBanking') NOT NULL,
  `receipt_no` varchar(100) DEFAULT NULL,
  `remarks` varchar(255) DEFAULT NULL,
  `created_by` bigint DEFAULT NULL,
  `updated_by` bigint DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `receipt_no` (`receipt_no`),
  KEY `student_id` (`student_id`),
  KEY `fee_structure_id` (`fee_structure_id`),
  CONSTRAINT `student_fee_payments_ibfk_1` FOREIGN KEY (`student_id`) REFERENCES `student` (`id`),
  CONSTRAINT `student_fee_payments_ibfk_2` FOREIGN KEY (`fee_structure_id`) REFERENCES `fee_structures` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student_fee_payments`
--

LOCK TABLES `student_fee_payments` WRITE;
/*!40000 ALTER TABLE `student_fee_payments` DISABLE KEYS */;
INSERT INTO `student_fee_payments` VALUES (2,1,1,2500.00,'2026-06-15','Card','1','Good',2,NULL,'2026-06-15 12:27:28','2026-06-15 12:27:28');
/*!40000 ALTER TABLE `student_fee_payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student_marks`
--

DROP TABLE IF EXISTS `student_marks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `student_marks` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `exam_id` bigint NOT NULL,
  `student_id` int NOT NULL,
  `subject_id` bigint NOT NULL,
  `max_marks` int NOT NULL,
  `obtained_marks` int NOT NULL,
  `remarks` varchar(255) DEFAULT NULL,
  `created_by` bigint DEFAULT NULL,
  `updated_by` bigint DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `exam_id` (`exam_id`),
  KEY `student_id` (`student_id`),
  KEY `subject_id` (`subject_id`),
  CONSTRAINT `student_marks_ibfk_1` FOREIGN KEY (`exam_id`) REFERENCES `exams` (`id`),
  CONSTRAINT `student_marks_ibfk_2` FOREIGN KEY (`student_id`) REFERENCES `student` (`id`),
  CONSTRAINT `student_marks_ibfk_3` FOREIGN KEY (`subject_id`) REFERENCES `subjects` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student_marks`
--

LOCK TABLES `student_marks` WRITE;
/*!40000 ALTER TABLE `student_marks` DISABLE KEYS */;
INSERT INTO `student_marks` VALUES (16,1,1,1,100,80,'good',2,NULL,'2026-06-12 19:11:08','2026-06-12 19:11:08');
/*!40000 ALTER TABLE `student_marks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subjects`
--

DROP TABLE IF EXISTS `subjects`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `subjects` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `subject_name` varchar(100) NOT NULL,
  `subject_code` varchar(20) DEFAULT NULL,
  `status` enum('active','inactive') DEFAULT 'active',
  `created_by` bigint DEFAULT NULL,
  `updated_by` bigint DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `subject_code` (`subject_code`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subjects`
--

LOCK TABLES `subjects` WRITE;
/*!40000 ALTER TABLE `subjects` DISABLE KEYS */;
INSERT INTO `subjects` VALUES (1,'Mathematics','MATH101','active',2,NULL,'2026-06-12 07:01:10','2026-06-12 07:01:10'),(2,'English','ENG101','active',2,NULL,'2026-06-12 07:01:26','2026-06-12 07:01:26'),(3,'Science','SCI101','active',2,NULL,'2026-06-12 07:01:44','2026-06-12 07:01:44');
/*!40000 ALTER TABLE `subjects` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `super_admin`
--

DROP TABLE IF EXISTS `super_admin`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `super_admin` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `full_name` varchar(100) NOT NULL,
  `email` varchar(150) NOT NULL,
  `password` varchar(255) NOT NULL,
  `status` enum('ACTIVE','INACTIVE') DEFAULT 'ACTIVE',
  `created_by` bigint DEFAULT NULL,
  `updated_by` bigint DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `role` enum('SUPER_ADMIN','SCHOOL_ADMIN','STAFF') DEFAULT 'SUPER_ADMIN',
  `is_verified` tinyint(1) NOT NULL DEFAULT '0',
  `verification_otp` varchar(255) DEFAULT NULL,
  `otp_expires_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `super_admin`
--

LOCK TABLES `super_admin` WRITE;
/*!40000 ALTER TABLE `super_admin` DISABLE KEYS */;
INSERT INTO `super_admin` VALUES (2,'Super Admin','superadmin@school.com','$2b$10$NBv5f.3YebjCGdgVqeGkbu6KiLcuyIE.AOt6hME3O963IV23WGvgi','ACTIVE',NULL,NULL,'2026-06-10 06:24:30','2026-08-12 12:58:29','SUPER_ADMIN',1,NULL,NULL);
/*!40000 ALTER TABLE `super_admin` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_academic_year_sessions`
--

DROP TABLE IF EXISTS `tbl_academic_year_sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_academic_year_sessions` (
  `session_id` bigint NOT NULL AUTO_INCREMENT,
  `academic_year_id` bigint NOT NULL,
  `session_name` varchar(100) NOT NULL,
  `session_number` int NOT NULL,
  `start_date` date NOT NULL,
  `end_date` date NOT NULL,
  `is_current` tinyint(1) NOT NULL DEFAULT '0',
  `status` enum('ACTIVE','INACTIVE') NOT NULL DEFAULT 'ACTIVE',
  `created_by` bigint DEFAULT NULL,
  `updated_by` bigint DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`session_id`),
  KEY `fk_session_academic_year` (`academic_year_id`),
  CONSTRAINT `fk_session_academic_year` FOREIGN KEY (`academic_year_id`) REFERENCES `academic_years` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_academic_year_sessions`
--

LOCK TABLES `tbl_academic_year_sessions` WRITE;
/*!40000 ALTER TABLE `tbl_academic_year_sessions` DISABLE KEYS */;
INSERT INTO `tbl_academic_year_sessions` VALUES (1,1,'Teacher meetup',1,'2026-08-14','2026-08-18',0,'ACTIVE',2,NULL,'2026-08-12 11:53:11','2026-08-12 12:12:56'),(3,3,'Student meetup',2,'2026-08-14','2026-08-15',0,'ACTIVE',2,NULL,'2026-08-12 12:00:57','2026-08-12 12:00:57'),(4,3,'1',-6,'2026-08-14','2026-08-15',0,'ACTIVE',2,NULL,'2026-08-12 12:08:13','2026-08-12 12:08:13'),(5,1,'student meetup',2,'2026-08-14','2026-08-15',1,'ACTIVE',2,NULL,'2026-08-12 12:12:56','2026-08-12 12:12:56');
/*!40000 ALTER TABLE `tbl_academic_year_sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_achievement`
--

DROP TABLE IF EXISTS `tbl_achievement`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_achievement` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `school_id` bigint NOT NULL,
  `student_id` int NOT NULL,
  `event_date` date NOT NULL,
  `title` varchar(255) NOT NULL,
  `achievement_category` enum('Academic','Sports','Cultural','Technology','Other','Certificate') NOT NULL,
  `achievement_level` enum('School','District','State','National','International') NOT NULL,
  `position_achieved` enum('First','Second','Third','Participation') DEFAULT 'Participation',
  `image_urls` json DEFAULT NULL,
  `certificate_url` varchar(500) DEFAULT NULL,
  `status` enum('ACTIVE','INACTIVE') DEFAULT 'ACTIVE',
  `created_by` bigint DEFAULT NULL,
  `updated_by` bigint DEFAULT NULL,
  `approved_by` bigint DEFAULT NULL,
  `issued_by` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `fk_achievement_created_by` (`created_by`),
  KEY `fk_achievement_updated_by` (`updated_by`),
  KEY `fk_achievement_approved_by` (`approved_by`),
  KEY `idx_achievement_school` (`school_id`),
  KEY `idx_achievement_student` (`student_id`),
  KEY `idx_achievement_category` (`achievement_category`),
  KEY `idx_achievement_level` (`achievement_level`),
  KEY `idx_achievement_status` (`status`),
  KEY `idx_achievement_event_date` (`event_date`),
  CONSTRAINT `fk_achievement_approved_by` FOREIGN KEY (`approved_by`) REFERENCES `staff` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_achievement_created_by` FOREIGN KEY (`created_by`) REFERENCES `staff` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_achievement_school` FOREIGN KEY (`school_id`) REFERENCES `school` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_achievement_student` FOREIGN KEY (`student_id`) REFERENCES `student` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_achievement_updated_by` FOREIGN KEY (`updated_by`) REFERENCES `staff` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_achievement`
--

LOCK TABLES `tbl_achievement` WRITE;
/*!40000 ALTER TABLE `tbl_achievement` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_achievement` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_admission_follow_ups`
--

DROP TABLE IF EXISTS `tbl_admission_follow_ups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_admission_follow_ups` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `inquiry_id` bigint NOT NULL,
  `follow_up_date` date NOT NULL,
  `next_follow_up_date` date DEFAULT NULL,
  `response_status` enum('Interested','Not Interested','Call Back','No Response','Converted','Closed') NOT NULL,
  `notes` text,
  `followed_up_by_staff_id` bigint NOT NULL,
  `created_by` bigint DEFAULT NULL,
  `updated_by` bigint DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `fk_followup_created_by` (`created_by`),
  KEY `fk_followup_updated_by` (`updated_by`),
  KEY `idx_followup_inquiry` (`inquiry_id`),
  KEY `idx_followup_staff` (`followed_up_by_staff_id`),
  KEY `idx_followup_status` (`response_status`),
  KEY `idx_followup_date` (`follow_up_date`),
  KEY `idx_followup_next_date` (`next_follow_up_date`),
  CONSTRAINT `fk_followup_created_by` FOREIGN KEY (`created_by`) REFERENCES `staff` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_followup_inquiry` FOREIGN KEY (`inquiry_id`) REFERENCES `admission_inquiries` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_followup_staff` FOREIGN KEY (`followed_up_by_staff_id`) REFERENCES `staff` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_followup_updated_by` FOREIGN KEY (`updated_by`) REFERENCES `staff` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_admission_follow_ups`
--

LOCK TABLES `tbl_admission_follow_ups` WRITE;
/*!40000 ALTER TABLE `tbl_admission_follow_ups` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_admission_follow_ups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_batches`
--

DROP TABLE IF EXISTS `tbl_batches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_batches` (
  `batch_id` bigint NOT NULL AUTO_INCREMENT,
  `batch_code` varchar(50) NOT NULL,
  `school_class_id` bigint NOT NULL,
  `academic_year_id` bigint NOT NULL,
  `section_id` bigint NOT NULL,
  `teacher_id` bigint NOT NULL,
  `school_medium_id` bigint NOT NULL,
  `start_time` time DEFAULT NULL,
  `end_time` time DEFAULT NULL,
  `duration_minutes` int DEFAULT NULL,
  `status` enum('active','inactive') DEFAULT 'active',
  `created_by` bigint DEFAULT NULL,
  `updated_by` bigint DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`batch_id`),
  UNIQUE KEY `batch_code` (`batch_code`),
  KEY `school_class_id` (`school_class_id`),
  KEY `academic_year_id` (`academic_year_id`),
  KEY `section_id` (`section_id`),
  KEY `teacher_id` (`teacher_id`),
  KEY `school_medium_id` (`school_medium_id`),
  CONSTRAINT `tbl_batches_ibfk_1` FOREIGN KEY (`school_class_id`) REFERENCES `school_classes` (`id`),
  CONSTRAINT `tbl_batches_ibfk_2` FOREIGN KEY (`academic_year_id`) REFERENCES `academic_years` (`id`),
  CONSTRAINT `tbl_batches_ibfk_3` FOREIGN KEY (`section_id`) REFERENCES `sections` (`id`),
  CONSTRAINT `tbl_batches_ibfk_4` FOREIGN KEY (`teacher_id`) REFERENCES `staff` (`id`),
  CONSTRAINT `tbl_batches_ibfk_5` FOREIGN KEY (`school_medium_id`) REFERENCES `tbl_school_mediums` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_batches`
--

LOCK TABLES `tbl_batches` WRITE;
/*!40000 ALTER TABLE `tbl_batches` DISABLE KEYS */;
INSERT INTO `tbl_batches` VALUES (2,'BATCH-A-2025',1,1,1,1,1,'08:00:00','09:00:00',60,NULL,2,2,'2026-06-22 06:12:07','2026-06-25 05:19:45'),(3,'1',2,1,1,11,1,'10:45:00','11:45:00',60,NULL,2,2,'2026-06-25 05:19:30','2026-06-25 11:22:23');
/*!40000 ALTER TABLE `tbl_batches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_branch_transfers`
--

DROP TABLE IF EXISTS `tbl_branch_transfers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_branch_transfers` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `student_id` int DEFAULT NULL,
  `staff_id` bigint DEFAULT NULL,
  `staff_type_id` int DEFAULT NULL,
  `from_branch_id` bigint NOT NULL,
  `from_batch_id` bigint DEFAULT NULL,
  `to_branch_id` bigint NOT NULL,
  `to_batch_id` bigint DEFAULT NULL,
  `transfer_date` date NOT NULL,
  `reason` varchar(255) DEFAULT NULL,
  `remarks` text,
  `requested_by_student_id` int DEFAULT NULL,
  `requested_by_staff_id` bigint DEFAULT NULL,
  `approved_by_staff_id` bigint DEFAULT NULL,
  `approved_at` datetime DEFAULT NULL,
  `transfer_status` enum('PENDING','APPROVED','REJECTED','COMPLETED') DEFAULT 'PENDING',
  `status` enum('ACTIVE','INACTIVE') DEFAULT 'ACTIVE',
  `created_by_student_id` int DEFAULT NULL,
  `created_by_staff_id` bigint DEFAULT NULL,
  `updated_by_staff_id` bigint DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_branch_transfers`
--

LOCK TABLES `tbl_branch_transfers` WRITE;
/*!40000 ALTER TABLE `tbl_branch_transfers` DISABLE KEYS */;
INSERT INTO `tbl_branch_transfers` VALUES (1,10,NULL,NULL,1,1,2,2,'2026-07-10','Family Shift','Student Branch Transfer',NULL,NULL,1,'2026-07-09 18:04:42','COMPLETED','ACTIVE',NULL,1,1,'2026-07-09 12:33:07','2026-07-09 12:35:27'),(2,NULL,2,1,1,NULL,2,NULL,'2026-07-10','Office Transfer','Staff Branch Transfer',NULL,NULL,1,'2026-07-09 18:03:23','APPROVED','ACTIVE',NULL,1,NULL,'2026-07-09 12:33:23','2026-07-09 12:33:23');
/*!40000 ALTER TABLE `tbl_branch_transfers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_event_payments`
--

DROP TABLE IF EXISTS `tbl_event_payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_event_payments` (
  `event_payment_id` int NOT NULL AUTO_INCREMENT,
  `school_id` int NOT NULL,
  `registration_id` int NOT NULL,
  `deposited_to_school_bank_id` int DEFAULT NULL,
  `amount` decimal(10,2) NOT NULL,
  `payment_method` enum('CASH','BANK_TRANSFER','UPI','CHEQUE','CARD','ONLINE') NOT NULL,
  `transaction_id` varchar(150) DEFAULT NULL,
  `payment_status` enum('PENDING','COMPLETED','FAILED','REFUNDED') DEFAULT 'PENDING',
  `payment_date` datetime DEFAULT NULL,
  `remarks` text,
  `status` enum('ACTIVE','INACTIVE') DEFAULT 'ACTIVE',
  `created_by` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`event_payment_id`),
  KEY `registration_id` (`registration_id`),
  CONSTRAINT `tbl_event_payments_ibfk_1` FOREIGN KEY (`registration_id`) REFERENCES `tbl_event_registrations` (`registration_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_event_payments`
--

LOCK TABLES `tbl_event_payments` WRITE;
/*!40000 ALTER TABLE `tbl_event_payments` DISABLE KEYS */;
INSERT INTO `tbl_event_payments` VALUES (1,1,2,1,4454545.00,'CASH','3454g45y6514','COMPLETED','2026-05-14 10:10:00','NA','ACTIVE',2,'2026-08-05 18:33:11','2026-08-05 18:33:11');
/*!40000 ALTER TABLE `tbl_event_payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_event_registrations`
--

DROP TABLE IF EXISTS `tbl_event_registrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_event_registrations` (
  `registration_id` int NOT NULL AUTO_INCREMENT,
  `event_id` int NOT NULL,
  `school_id` int NOT NULL,
  `participant_type` enum('STUDENT','STAFF','PARENT') NOT NULL,
  `student_id` int DEFAULT NULL,
  `staff_id` int DEFAULT NULL,
  `parent_id` int DEFAULT NULL,
  `registration_date` datetime NOT NULL,
  `registration_status` enum('REGISTERED','CANCELLED') DEFAULT 'REGISTERED',
  `payment_id` int DEFAULT NULL,
  `remarks` text,
  `status` enum('ACTIVE','INACTIVE') DEFAULT 'ACTIVE',
  `created_by_staff_id` int DEFAULT NULL,
  `created_by_student_id` int DEFAULT NULL,
  `updated_by_staff_id` int DEFAULT NULL,
  `updated_by_student_id` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`registration_id`),
  KEY `idx_event` (`event_id`),
  KEY `idx_school` (`school_id`),
  KEY `idx_student` (`student_id`),
  KEY `idx_staff` (`staff_id`),
  KEY `idx_parent` (`parent_id`),
  KEY `idx_payment` (`payment_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_event_registrations`
--

LOCK TABLES `tbl_event_registrations` WRITE;
/*!40000 ALTER TABLE `tbl_event_registrations` DISABLE KEYS */;
INSERT INTO `tbl_event_registrations` VALUES (1,1,1,'STAFF',NULL,2,NULL,'2026-08-04 18:17:54','REGISTERED',5000,'NA','ACTIVE',2,NULL,NULL,NULL,'2026-08-04 12:47:54','2026-08-04 12:47:54'),(2,1,1,'STUDENT',5,NULL,NULL,'2026-08-04 18:18:12','REGISTERED',5000,'NA','ACTIVE',2,NULL,NULL,NULL,'2026-08-04 12:48:12','2026-08-04 12:48:12');
/*!40000 ALTER TABLE `tbl_event_registrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_events`
--

DROP TABLE IF EXISTS `tbl_events`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_events` (
  `event_id` int NOT NULL AUTO_INCREMENT,
  `school_id` int NOT NULL,
  `academic_year_id` int NOT NULL,
  `school_branch_id` int NOT NULL,
  `school_class_id` int DEFAULT NULL,
  `event_name` varchar(200) NOT NULL,
  `event_description` text,
  `event_type` enum('ACADEMIC','CULTURAL','SPORTS','COMPETITION','CELEBRATION','HOLIDAY','EXAM','OTHER') NOT NULL,
  `start_date` date NOT NULL,
  `end_date` date NOT NULL,
  `start_time` time DEFAULT NULL,
  `end_time` time DEFAULT NULL,
  `is_single_day` tinyint(1) DEFAULT '1',
  `is_multiple_day` tinyint(1) DEFAULT '0',
  `total_duration_hours` decimal(10,2) DEFAULT '0.00',
  `event_schedule` json DEFAULT NULL,
  `audience_type` enum('ALL','STUDENTS','STAFF','PARENTS','SPECIFIC_CLASSES') DEFAULT 'ALL',
  `target_batch_ids` json DEFAULT NULL,
  `target_parent_ids` json DEFAULT NULL,
  `target_staff_ids` json DEFAULT NULL,
  `venue` varchar(250) DEFAULT NULL,
  `organizer_staff_ids` json DEFAULT NULL,
  `organizer_student_ids` json DEFAULT NULL,
  `budget` decimal(12,2) DEFAULT '0.00',
  `expected_participants` int DEFAULT '0',
  `event_status` enum('DRAFT','PUBLISHED','CANCELLED','COMPLETED') DEFAULT 'DRAFT',
  `priority` enum('LOW','MEDIUM','HIGH','CRITICAL') DEFAULT 'MEDIUM',
  `is_holiday` tinyint(1) DEFAULT '0',
  `affects_timetable` tinyint(1) DEFAULT '0',
  `affected_timetables` json DEFAULT NULL,
  `cover_image` varchar(500) DEFAULT NULL,
  `attachments` json DEFAULT NULL,
  `requires_registration` tinyint(1) DEFAULT '0',
  `registration_deadline` datetime DEFAULT NULL,
  `max_participants` int DEFAULT '0',
  `current_registrations` int DEFAULT '0',
  `current_students` int DEFAULT '0',
  `current_staff` int DEFAULT '0',
  `current_parents` int DEFAULT '0',
  `available_spots` int DEFAULT '0',
  `is_registration_full` tinyint(1) DEFAULT '0',
  `registration_status` enum('OPEN','CLOSED','FULL') DEFAULT 'OPEN',
  `chief_guests` json DEFAULT NULL,
  `status` enum('ACTIVE','INACTIVE') DEFAULT 'ACTIVE',
  `created_by` int DEFAULT NULL,
  `updated_by` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`event_id`),
  KEY `school_id` (`school_id`),
  KEY `academic_year_id` (`academic_year_id`),
  KEY `school_branch_id` (`school_branch_id`),
  KEY `school_class_id` (`school_class_id`),
  KEY `start_date` (`start_date`),
  KEY `event_status` (`event_status`),
  KEY `status` (`status`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_events`
--

LOCK TABLES `tbl_events` WRITE;
/*!40000 ALTER TABLE `tbl_events` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_events` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_exam_timetable`
--

DROP TABLE IF EXISTS `tbl_exam_timetable`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_exam_timetable` (
  `exam_timetable_id` bigint NOT NULL AUTO_INCREMENT,
  `exam_id` bigint NOT NULL,
  `subject_id` bigint NOT NULL,
  `batch_id` bigint NOT NULL,
  `school_id` bigint NOT NULL,
  `exam_date` date NOT NULL,
  `start_time` time NOT NULL,
  `end_time` time NOT NULL,
  `room_number` varchar(50) NOT NULL,
  `supervisor_id` bigint NOT NULL,
  `status` enum('active','inactive') DEFAULT 'active',
  `created_by` bigint DEFAULT NULL,
  `updated_by` bigint DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`exam_timetable_id`),
  KEY `fk_exam_timetable_exam` (`exam_id`),
  KEY `fk_exam_timetable_subject` (`subject_id`),
  KEY `fk_exam_timetable_batch` (`batch_id`),
  KEY `fk_exam_timetable_school` (`school_id`),
  KEY `fk_exam_timetable_supervisor` (`supervisor_id`),
  CONSTRAINT `fk_exam_timetable_batch` FOREIGN KEY (`batch_id`) REFERENCES `tbl_batches` (`batch_id`),
  CONSTRAINT `fk_exam_timetable_exam` FOREIGN KEY (`exam_id`) REFERENCES `exams` (`id`),
  CONSTRAINT `fk_exam_timetable_school` FOREIGN KEY (`school_id`) REFERENCES `school` (`id`),
  CONSTRAINT `fk_exam_timetable_subject` FOREIGN KEY (`subject_id`) REFERENCES `subjects` (`id`),
  CONSTRAINT `fk_exam_timetable_supervisor` FOREIGN KEY (`supervisor_id`) REFERENCES `staff` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_exam_timetable`
--

LOCK TABLES `tbl_exam_timetable` WRITE;
/*!40000 ALTER TABLE `tbl_exam_timetable` DISABLE KEYS */;
INSERT INTO `tbl_exam_timetable` VALUES (4,1,3,2,3,'2026-08-14','10:00:00','12:00:00','112',11,'active',2,NULL,'2026-06-29 12:11:46','2026-06-29 12:11:46');
/*!40000 ALTER TABLE `tbl_exam_timetable` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_library_fine_payments`
--

DROP TABLE IF EXISTS `tbl_library_fine_payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_library_fine_payments` (
  `fine_payment_id` int NOT NULL AUTO_INCREMENT,
  `school_id` bigint NOT NULL,
  `fine_id` int NOT NULL,
  `student_id` int NOT NULL,
  `amount_paid` decimal(10,2) NOT NULL,
  `payment_date` date NOT NULL,
  `payment_mode` enum('Cash','UPI','Card','Net Banking','Cheque','Other') NOT NULL,
  `transaction_id` varchar(100) DEFAULT NULL,
  `receipt_path` varchar(255) DEFAULT NULL,
  `payment_status` enum('SUCCESS','FAILED','PENDING') DEFAULT 'PENDING',
  `status` enum('ACTIVE','INACTIVE') DEFAULT 'ACTIVE',
  `remarks` text,
  `created_by` bigint DEFAULT NULL,
  `updated_by` bigint DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`fine_payment_id`),
  UNIQUE KEY `uk_transaction_id` (`transaction_id`),
  KEY `idx_library_student` (`student_id`),
  KEY `idx_library_school` (`school_id`),
  KEY `idx_library_transaction` (`transaction_id`),
  KEY `fk_library_payment_created_by` (`created_by`),
  KEY `fk_library_payment_updated_by` (`updated_by`),
  CONSTRAINT `fk_library_payment_created_by` FOREIGN KEY (`created_by`) REFERENCES `staff` (`id`),
  CONSTRAINT `fk_library_payment_school` FOREIGN KEY (`school_id`) REFERENCES `school` (`id`),
  CONSTRAINT `fk_library_payment_student` FOREIGN KEY (`student_id`) REFERENCES `student` (`id`),
  CONSTRAINT `fk_library_payment_updated_by` FOREIGN KEY (`updated_by`) REFERENCES `staff` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_library_fine_payments`
--

LOCK TABLES `tbl_library_fine_payments` WRITE;
/*!40000 ALTER TABLE `tbl_library_fine_payments` DISABLE KEYS */;
INSERT INTO `tbl_library_fine_payments` VALUES (1,1,1,1,500.00,'2026-07-14','UPI','TXN99999','','SUCCESS','INACTIVE','Updated Fine Payment',1,1,'2026-07-14 18:07:01','2026-07-14 18:08:41'),(2,1,1,2,400.00,'2026-12-04','Cash','','yes','SUCCESS','INACTIVE','NA',1,1,'2026-07-15 11:45:00','2026-07-15 11:45:29'),(4,1,2,4,1000.00,'2026-08-14','Cash','222','/uploads/receipts/1784121577790-911748220.png','SUCCESS','INACTIVE','NA',1,1,'2026-07-15 13:19:38','2026-07-17 07:23:38');
/*!40000 ALTER TABLE `tbl_library_fine_payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_lost_and_found`
--

DROP TABLE IF EXISTS `tbl_lost_and_found`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_lost_and_found` (
  `item_id` int NOT NULL AUTO_INCREMENT,
  `school_id` bigint NOT NULL,
  `branch_id` bigint DEFAULT NULL,
  `item_name` varchar(150) NOT NULL,
  `category` varchar(100) DEFAULT NULL,
  `description` text,
  `location_found` varchar(255) DEFAULT NULL,
  `found_datetime` datetime DEFAULT NULL,
  `found_by_staff_id` bigint DEFAULT NULL,
  `found_by_student_id` int DEFAULT NULL,
  `status` enum('UNCLAIMED','CLAIMED','DISCARDED') DEFAULT 'UNCLAIMED',
  `claimed_datetime` datetime DEFAULT NULL,
  `claimed_by_staff_id` bigint DEFAULT NULL,
  `claimed_by_student_id` int DEFAULT NULL,
  `record_status` enum('ACTIVE','INACTIVE') DEFAULT 'ACTIVE',
  `created_by` bigint DEFAULT NULL,
  `updated_by` bigint DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `image_path` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`item_id`),
  KEY `idx_lost_school` (`school_id`),
  KEY `idx_lost_branch` (`branch_id`),
  KEY `idx_lost_status` (`status`),
  KEY `fk_lost_found_staff` (`found_by_staff_id`),
  KEY `fk_lost_found_student` (`found_by_student_id`),
  KEY `fk_lost_claim_staff` (`claimed_by_staff_id`),
  KEY `fk_lost_claim_student` (`claimed_by_student_id`),
  KEY `fk_lost_created_by` (`created_by`),
  KEY `fk_lost_updated_by` (`updated_by`),
  CONSTRAINT `fk_lost_branch` FOREIGN KEY (`branch_id`) REFERENCES `school_branches` (`id`),
  CONSTRAINT `fk_lost_claim_staff` FOREIGN KEY (`claimed_by_staff_id`) REFERENCES `staff` (`id`),
  CONSTRAINT `fk_lost_claim_student` FOREIGN KEY (`claimed_by_student_id`) REFERENCES `student` (`id`),
  CONSTRAINT `fk_lost_created_by` FOREIGN KEY (`created_by`) REFERENCES `staff` (`id`),
  CONSTRAINT `fk_lost_found_staff` FOREIGN KEY (`found_by_staff_id`) REFERENCES `staff` (`id`),
  CONSTRAINT `fk_lost_found_student` FOREIGN KEY (`found_by_student_id`) REFERENCES `student` (`id`),
  CONSTRAINT `fk_lost_school` FOREIGN KEY (`school_id`) REFERENCES `school` (`id`),
  CONSTRAINT `fk_lost_updated_by` FOREIGN KEY (`updated_by`) REFERENCES `staff` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_lost_and_found`
--

LOCK TABLES `tbl_lost_and_found` WRITE;
/*!40000 ALTER TABLE `tbl_lost_and_found` DISABLE KEYS */;
INSERT INTO `tbl_lost_and_found` VALUES (1,1,1,'Calculator','Electronics','Black Casio Calculator','Library','2026-07-14 10:30:00',1,NULL,'UNCLAIMED',NULL,NULL,NULL,'INACTIVE',1,1,'2026-07-14 18:10:09','2026-07-14 18:11:58',NULL),(2,1,3,'ID card','gadget','NA','Admin block','2006-08-14 10:12:00',2,2,'UNCLAIMED',NULL,NULL,NULL,'ACTIVE',1,1,'2026-07-15 12:25:47','2026-07-15 12:25:47',NULL),(3,1,1,'Bag','gadget','','Class room','2025-08-14 03:20:00',1,5,'UNCLAIMED',NULL,NULL,NULL,'ACTIVE',1,1,'2026-07-15 13:48:42','2026-07-15 13:48:42','/uploads/lost-found/1784123322340-244991203.png');
/*!40000 ALTER TABLE `tbl_lost_and_found` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_master_mediums`
--

DROP TABLE IF EXISTS `tbl_master_mediums`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_master_mediums` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `medium_name` varchar(100) NOT NULL,
  `description` text,
  `requested_by_school_id` bigint DEFAULT NULL,
  `approval_status` enum('pending','approved','rejected') DEFAULT 'approved',
  `status` enum('active','inactive') DEFAULT 'active',
  `created_by` bigint DEFAULT NULL,
  `updated_by` bigint DEFAULT NULL,
  `approved_by` bigint DEFAULT NULL,
  `approved_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `medium_name` (`medium_name`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_master_mediums`
--

LOCK TABLES `tbl_master_mediums` WRITE;
/*!40000 ALTER TABLE `tbl_master_mediums` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_master_mediums` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_school_branches`
--

DROP TABLE IF EXISTS `tbl_school_branches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_school_branches` (
  `branch_id` bigint NOT NULL AUTO_INCREMENT,
  `school_id` bigint NOT NULL,
  `branch_code` varchar(30) NOT NULL,
  `branch_name` varchar(150) NOT NULL,
  `branch_type` enum('MAIN','SUB','CAMPUS','HOSTEL','OTHER') DEFAULT 'MAIN',
  `address` text,
  `city` varchar(100) DEFAULT NULL,
  `state` varchar(100) DEFAULT NULL,
  `country` varchar(100) DEFAULT NULL,
  `pincode` varchar(15) DEFAULT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `email` varchar(150) DEFAULT NULL,
  `principal_name` varchar(150) DEFAULT NULL,
  `establishment_date` date DEFAULT NULL,
  `status` enum('ACTIVE','INACTIVE') DEFAULT 'ACTIVE',
  `created_by` bigint DEFAULT NULL,
  `updated_by` bigint DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`branch_id`),
  UNIQUE KEY `branch_code` (`branch_code`),
  KEY `school_id` (`school_id`),
  CONSTRAINT `fk_branch_school` FOREIGN KEY (`school_id`) REFERENCES `school` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_school_branches`
--

LOCK TABLES `tbl_school_branches` WRITE;
/*!40000 ALTER TABLE `tbl_school_branches` DISABLE KEYS */;
INSERT INTO `tbl_school_branches` VALUES (1,1,'1','Parul University','MAIN','D/144 pancheswer mahadev temple paraswanath society krishnanagar nikol ahmedbad','pancheswer mahadev temple paraswanath ahemedabad gujarat','Gujarat','India','382345','08400221056','abhipandeypandey646@gmail.com','Pandey ji abhi','2003-08-14','ACTIVE',2,NULL,'2026-07-29 07:02:02','2026-07-29 07:02:02');
/*!40000 ALTER TABLE `tbl_school_branches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_school_mediums`
--

DROP TABLE IF EXISTS `tbl_school_mediums`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_school_mediums` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `school_id` bigint NOT NULL,
  `master_medium_id` bigint DEFAULT NULL,
  `custom_medium_name` varchar(100) DEFAULT NULL,
  `approval_status` enum('pending','approved','rejected') DEFAULT 'pending',
  `status` enum('active','inactive') DEFAULT 'active',
  `created_by` bigint DEFAULT NULL,
  `updated_by` bigint DEFAULT NULL,
  `approved_by` bigint DEFAULT NULL,
  `approved_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `fk_school_medium_school` (`school_id`),
  KEY `fk_school_medium_master` (`master_medium_id`),
  CONSTRAINT `fk_school_medium_master` FOREIGN KEY (`master_medium_id`) REFERENCES `tbl_master_mediums` (`id`),
  CONSTRAINT `fk_school_medium_school` FOREIGN KEY (`school_id`) REFERENCES `school` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_school_mediums`
--

LOCK TABLES `tbl_school_mediums` WRITE;
/*!40000 ALTER TABLE `tbl_school_mediums` DISABLE KEYS */;
INSERT INTO `tbl_school_mediums` VALUES (1,1,1,NULL,'approved','active',2,NULL,NULL,NULL,'2026-06-19 11:59:21','2026-06-19 11:59:21'),(3,1,3,'French','approved','active',2,2,2,'2026-06-19 13:46:19','2026-06-19 12:02:55','2026-06-19 13:46:19'),(6,1,8,'','approved','active',2,2,2,'2026-06-21 18:55:46','2026-06-19 13:49:12','2026-06-21 18:55:46'),(8,1,NULL,NULL,'pending','active',2,NULL,NULL,NULL,'2026-07-12 19:35:09','2026-07-12 19:35:09');
/*!40000 ALTER TABLE `tbl_school_mediums` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_school_period`
--

DROP TABLE IF EXISTS `tbl_school_period`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_school_period` (
  `period_id` bigint NOT NULL AUTO_INCREMENT,
  `school_id` bigint NOT NULL,
  `branch_id` bigint NOT NULL,
  `period_number` int NOT NULL,
  `start_time` time NOT NULL,
  `end_time` time NOT NULL,
  `slot_duration` int DEFAULT NULL,
  `status` enum('active','inactive') DEFAULT 'active',
  `created_by` bigint DEFAULT NULL,
  `updated_by` bigint DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`period_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_school_period`
--

LOCK TABLES `tbl_school_period` WRITE;
/*!40000 ALTER TABLE `tbl_school_period` DISABLE KEYS */;
INSERT INTO `tbl_school_period` VALUES (1,1,1,1,'08:00:00','08:45:00',45,'active',2,NULL,'2026-06-22 06:21:36','2026-06-22 06:21:36'),(2,3,3,2,'10:45:00','12:45:00',120,'active',2,NULL,'2026-06-25 11:23:19','2026-06-25 11:23:19');
/*!40000 ALTER TABLE `tbl_school_period` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_school_transfers`
--

DROP TABLE IF EXISTS `tbl_school_transfers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_school_transfers` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `student_id` int DEFAULT NULL,
  `staff_id` bigint DEFAULT NULL,
  `from_school_id` bigint NOT NULL,
  `to_school_id` bigint NOT NULL,
  `from_batch_id` bigint DEFAULT NULL,
  `to_batch_id` bigint DEFAULT NULL,
  `academic_year_id` bigint DEFAULT NULL,
  `transfer_date` date NOT NULL,
  `reason` varchar(255) DEFAULT NULL,
  `remarks` text,
  `requested_by_student_id` int DEFAULT NULL,
  `requested_by_staff_id` bigint DEFAULT NULL,
  `approved_by_staff_id` bigint DEFAULT NULL,
  `approved_at` datetime DEFAULT NULL,
  `transfer_status` enum('PENDING','APPROVED','REJECTED','COMPLETED','CANCELLED') DEFAULT 'PENDING',
  `status` enum('ACTIVE','INACTIVE') DEFAULT 'ACTIVE',
  `created_by_student_id` int DEFAULT NULL,
  `created_by_staff_id` bigint DEFAULT NULL,
  `updated_by_staff_id` bigint DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_school_transfers`
--

LOCK TABLES `tbl_school_transfers` WRITE;
/*!40000 ALTER TABLE `tbl_school_transfers` DISABLE KEYS */;
INSERT INTO `tbl_school_transfers` VALUES (1,10,NULL,1,2,NULL,NULL,1,'2026-07-09','Family Shift','Transfer Request',NULL,NULL,1,'2026-07-09 17:32:37','COMPLETED','ACTIVE',NULL,1,1,'2026-07-09 12:00:36','2026-07-09 12:03:05'),(2,NULL,2,1,3,NULL,NULL,1,'2026-07-09','Office Transfer','Staff Transfer',NULL,NULL,1,'2026-07-09 17:31:01','COMPLETED','ACTIVE',NULL,1,1,'2026-07-09 12:01:00','2026-07-09 12:12:27');
/*!40000 ALTER TABLE `tbl_school_transfers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_time_table`
--

DROP TABLE IF EXISTS `tbl_time_table`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_time_table` (
  `time_table_id` bigint NOT NULL AUTO_INCREMENT,
  `batch_id` bigint NOT NULL,
  `period_id` bigint NOT NULL,
  `school_subject_id` bigint NOT NULL,
  `teacher_id` bigint NOT NULL,
  `day_of_week` enum('Monday','Tuesday','Wednesday','Thursday','Friday','Saturday') NOT NULL,
  `duration_minutes` int DEFAULT NULL,
  `room_number` varchar(50) DEFAULT NULL,
  `status` enum('active','inactive') DEFAULT 'active',
  `created_by` bigint DEFAULT NULL,
  `updated_by` bigint DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`time_table_id`),
  KEY `batch_id` (`batch_id`),
  KEY `period_id` (`period_id`),
  KEY `school_subject_id` (`school_subject_id`),
  KEY `teacher_id` (`teacher_id`),
  CONSTRAINT `tbl_time_table_ibfk_1` FOREIGN KEY (`batch_id`) REFERENCES `tbl_batches` (`batch_id`),
  CONSTRAINT `tbl_time_table_ibfk_2` FOREIGN KEY (`period_id`) REFERENCES `tbl_school_period` (`period_id`),
  CONSTRAINT `tbl_time_table_ibfk_3` FOREIGN KEY (`school_subject_id`) REFERENCES `subjects` (`id`),
  CONSTRAINT `tbl_time_table_ibfk_4` FOREIGN KEY (`teacher_id`) REFERENCES `staff` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_time_table`
--

LOCK TABLES `tbl_time_table` WRITE;
/*!40000 ALTER TABLE `tbl_time_table` DISABLE KEYS */;
INSERT INTO `tbl_time_table` VALUES (3,3,1,3,2,'Wednesday',18,'1','active',2,NULL,'2026-06-25 06:44:28','2026-06-25 06:44:28'),(4,3,1,2,17,'Thursday',50,'2','active',2,NULL,'2026-06-25 11:24:04','2026-06-25 11:24:04');
/*!40000 ALTER TABLE `tbl_time_table` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_time_table_substitutions`
--

DROP TABLE IF EXISTS `tbl_time_table_substitutions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_time_table_substitutions` (
  `substitution_id` bigint NOT NULL AUTO_INCREMENT,
  `time_table_id` bigint NOT NULL,
  `original_teacher_id` bigint NOT NULL,
  `substitute_teacher_id` bigint NOT NULL,
  `substitution_date` date NOT NULL,
  `reason` text,
  `remark` text,
  `status` enum('active','inactive') DEFAULT 'active',
  `created_by` bigint DEFAULT NULL,
  `updated_by` bigint DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`substitution_id`),
  KEY `time_table_id` (`time_table_id`),
  KEY `original_teacher_id` (`original_teacher_id`),
  KEY `substitute_teacher_id` (`substitute_teacher_id`),
  CONSTRAINT `tbl_time_table_substitutions_ibfk_1` FOREIGN KEY (`time_table_id`) REFERENCES `tbl_time_table` (`time_table_id`),
  CONSTRAINT `tbl_time_table_substitutions_ibfk_2` FOREIGN KEY (`original_teacher_id`) REFERENCES `staff` (`id`),
  CONSTRAINT `tbl_time_table_substitutions_ibfk_3` FOREIGN KEY (`substitute_teacher_id`) REFERENCES `staff` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_time_table_substitutions`
--

LOCK TABLES `tbl_time_table_substitutions` WRITE;
/*!40000 ALTER TABLE `tbl_time_table_substitutions` DISABLE KEYS */;
INSERT INTO `tbl_time_table_substitutions` VALUES (4,3,12,17,'2026-06-27','Personal','NA','active',2,NULL,'2026-06-26 05:58:54','2026-06-26 05:58:54'),(5,3,7,12,'2026-06-28','Causal leave','NA','active',2,NULL,'2026-06-26 12:47:27','2026-06-26 12:47:27');
/*!40000 ALTER TABLE `tbl_time_table_substitutions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `teacher_subjects`
--

DROP TABLE IF EXISTS `teacher_subjects`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `teacher_subjects` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `staff_id` bigint NOT NULL,
  `subject_id` bigint NOT NULL,
  `status` enum('active','inactive') DEFAULT 'active',
  `created_by` bigint DEFAULT NULL,
  `updated_by` bigint DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `staff_id` (`staff_id`),
  KEY `subject_id` (`subject_id`),
  CONSTRAINT `teacher_subjects_ibfk_1` FOREIGN KEY (`staff_id`) REFERENCES `staff` (`id`),
  CONSTRAINT `teacher_subjects_ibfk_2` FOREIGN KEY (`subject_id`) REFERENCES `subjects` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `teacher_subjects`
--

LOCK TABLES `teacher_subjects` WRITE;
/*!40000 ALTER TABLE `teacher_subjects` DISABLE KEYS */;
INSERT INTO `teacher_subjects` VALUES (1,1,1,'active',2,NULL,'2026-06-12 07:12:25','2026-06-12 07:12:25'),(2,1,3,'active',2,NULL,'2026-06-12 07:12:51','2026-06-12 07:12:51');
/*!40000 ALTER TABLE `teacher_subjects` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `timetables`
--

DROP TABLE IF EXISTS `timetables`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `timetables` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `school_class_id` bigint NOT NULL,
  `section_id` bigint NOT NULL,
  `subject_id` bigint NOT NULL,
  `staff_id` bigint NOT NULL,
  `day_name` varchar(20) NOT NULL,
  `start_time` time NOT NULL,
  `end_time` time NOT NULL,
  `status` enum('active','inactive') DEFAULT 'active',
  `created_by` bigint DEFAULT NULL,
  `updated_by` bigint DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `school_class_id` (`school_class_id`),
  KEY `section_id` (`section_id`),
  KEY `subject_id` (`subject_id`),
  KEY `staff_id` (`staff_id`),
  CONSTRAINT `timetables_ibfk_1` FOREIGN KEY (`school_class_id`) REFERENCES `school_classes` (`id`),
  CONSTRAINT `timetables_ibfk_2` FOREIGN KEY (`section_id`) REFERENCES `sections` (`id`),
  CONSTRAINT `timetables_ibfk_3` FOREIGN KEY (`subject_id`) REFERENCES `subjects` (`id`),
  CONSTRAINT `timetables_ibfk_4` FOREIGN KEY (`staff_id`) REFERENCES `staff` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `timetables`
--

LOCK TABLES `timetables` WRITE;
/*!40000 ALTER TABLE `timetables` DISABLE KEYS */;
INSERT INTO `timetables` VALUES (4,1,1,1,1,'','11:01:00','11:01:00','active',2,NULL,'2026-06-12 19:13:26','2026-06-12 19:13:26');
/*!40000 ALTER TABLE `timetables` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-13 12:25:25
